body{
    margin: 0;
}
.landing_page {
    width: 100%;
    height: 100vh;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.top_nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    background-color: rgba(22, 20, 57, 1);
}